* {
    box-sizing: border-box;
}

.container {
    margin-top: 50px;
    padding: 30px;
    border: 1px solid gray;
}

img {
    width: 50%;
}

h4 {
    text-align: center;
    text-decoration: underline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h6 {
    text-align: center;
}

.btn {
    margin-left: 10px;
}

.checkout {
    text-align: left;
    margin-left: 80px;
}


