<div class="container">

    <!-- ROW-2 -->
    <div class="row">
        <div class="col-lg-12">
            <h4>Availables</h4>
            <h6> Total Products Available : 12</h6>
        </div>
    </div><br><br>

    <!-- ROW-3 -->
    <div class="row">
        <div class="col-lg-7">
            <p> {{x}} : {{data}} </p>
        </div>
        <div class="col-lg-5">
            <button type="button" class="btn btn-success" (click)="inc()">Checkout</button>
            <button type="button" class="btn btn-info" (click)="dec()">Cancel</button>
        </div>
    </div><br><br>

</div>